.leftNav {
  background-color: #272b33;
  height: 1000px;
  padding: 0;
}

.mainSection {
  background-color: #e9f0f5;
  height: 1000px;
}

.dashHeader {
  background-color: pink;
}

.dashLeftHeader {
  background-color: #45b4c5;
  height: 75px;
}

.dashMainHeader {
  background-color: #4cc8db;
  height: 75px;
}
