.login-title {
  margin-top: 30px;
  font-size: 2.5rem;
  text-align: center;
}

.submit-btn {
  background-color: #515C6F;
  color: white;
  display: block;
  width: 50%;
  margin: 0 auto;
  border: none;
  padding: 10px 0;
  font-size: 1.2rem;
  margin-top: 25px;
}

.form-control {
  border-color: #515C6F;
  max-width: 90%;
  margin: 0 auto;
}

label {
  margin-left: 25px;
  font-size: 1.2rem;
}

.register-box {
  background-color: #42819B; 
  padding: 10px;
  text-align: center;
  width: 100%;
  color: white;
  margin-top: 42px;
}
p {
  font-size: 1.5rem;
  margin-top: 10px;
}

a {
  color: white;
  text-decoration: underline;
  font-size: 1.4rem;
}

.google-signin {
  background: #DB4C3B;
  width: 322px;
  height: 40px;
  margin: 0 auto;
}

.google-link {
  text-decoration: none;
}

.google-link:hover {
  color: white;
  text-decoration: none;
}